*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

#Bloc_page
{
    max-width: 1340px ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Nav_sinscrire, #Titre, em, h2, h3, #Afficher, .Nom_bas
{
    font-weight: bold;
}

/* Haut */

header, #Bloc_haut, #Navigation_et_inscrire, #Navigation, nav
{
    display: flex;
}

header
{
    flex-direction: column;
}

#Logo
{
    flex: 1;
    margin-left: 1em;
}

#Bloc_haut
{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

#Image_logo
{
    width: 7em;
    height: auto;
}


#Navigation
{
    font-size: 1.1em;
    font-weight: 500;
    justify-content: space-around;
    padding-right: 1em;
    list-style:none;
    flex-wrap: nowrap;
}

#Nav_sinscrire
{
    font-size: 1.1em;
    color: #0065FC;
    margin-right: 1em;
}

.Navigation:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

.Navigation
{
    padding: 2em 1em 0em 1em ;
    margin: -2em 1em 0em 0em;
}

#Titre_et_sous_titre
{
 padding-top: 30px;
 margin-left: 1em;
}

#Titre
{
    font-size: 1.5em;
    margin-bottom: 5px;
    
}

#Sous-titre
{
    font-size: 1em;
    font-weight: 400;
}

/* Barre de recherche */

#Iconmap, #Recherche, #Form
{
    display: flex;
    flex-wrap: nowrap;
}

#Iconmap
{
    background-color:#F2F2F2;
    width: 52px;
    height: 51px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

input
{
    border: 0px;
}

#Recherche
{
    margin-top: 1.5em;
    margin-left: 1em;
}

#Barre
{
    height: 51px;
    width: 234px;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 17px;
    border: 1px rgb(233, 231, 231) solid;
}

#Bouton, .Bouton2
{
    background-color:#0065FC ;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer ;
    border: 0px;
}

#Bouton
{
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
    height: 51px;
    width: 134px;
}

.Bouton2
{
    border-radius: 15px;
    height: 51px;
    width: 51px;
}

#Bouton_bloc2
{
    display: none;
}

::placeholder
{
    color: black;
}

/* Filtres */

#Filtres, #Cases_filtres, .Filtres, .Cercle_filtres
{
    display: flex;
}

#Filtres
{
    flex-wrap: wrap;
    font-size: 1.2em;
    margin-top: 18px;
    margin-left: 1em;
}

#Cases_filtres
{
    justify-content: flex-start;
    flex-wrap: wrap;
}

#Titre_filtres
{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin-top: 13px;
}

.Filtres
{
    justify-content: space-around;
    margin-left: 24px;
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    white-space: nowrap;
    max-height: 50px;
    margin-top: 13px;
}

.Filtres:hover
{
    color: white;
    background-color: #0065FC;
    border: 2px #0065FC solid;
    transform: scale(1.05);
}

.Noms_filtres
{
    padding-left: 13px;
    padding-right: 24px;
    height: 50px;
    line-height: 45px;
    vertical-align: middle;

}

.Cercle_filtres
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -2.5px;
    margin-top: -1.9px;
}

/*Phrase d'information*/

#Informations, #I
{
    display: flex;
    align-items: center;
}

#Informations
{
    justify-content: left;
    margin: 1.8em 0 1.8em 1em;
}

#I
{
    border: 2px #F2F2F2 solid ;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 0.8em;
}

/* Icônes */

.Black
{
    color: black;
}

.Bleu
{
   color: #0065FC; 
}

.Gris
{
    color: #F2F2F2;
}

/* Sections Hébergements et Populaires*/

#Hebergements_et_populaire
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
    padding-left: 17px;
}

.Note
{
    font-size: 0.8em;
    padding-left: 17px;
    padding-bottom: 11px;
    
}

.Etablissement:hover, .Etablissement_populaire:hover, .Activites:hover
{
    transform: scale(1.05);
}

/*Hébergements*/

#Hebergement, .Lien_logements, .Etablissement, #Logements
{
    display: flex;
}

#Hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    width: 880px;
    min-height: 625px;
    margin-bottom: 50px;
    margin-left: 1em;
}

#Titre_hebergement
{
    padding-left: 40px;
    margin-bottom: 10px;
}

.Lien_logements, .Etablissement
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(155, 154, 154);
    flex-direction: column;
    height: 200px;
    width: 246px;
}

.Lien_logements
{
    margin: 15.5px;
}

#Logements
{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.Image_hebergements
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 114px;
    margin: 5px 5px 0px 5px;
    object-fit: cover ;
}

.Prix
{
    font-size: 0.9em;
    margin-bottom: 0.3em;
    padding-left: 17px;
}

#Afficher
{
    margin-left: 40px;
    font-size: 1em;
}

/*Populaires*/

#Populaires, #Titre_populaire, .Fleche, .Lien_populaires, .Etablissement_populaire, #Logements_populaires
{
    display: flex;
}

#Populaires
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 420px;
    height: 625px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 1em;
    margin-right: 0.5em;
}

#Titre_populaire
{
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 5px;

}

.Fleche
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.Fleche, #Logements_populaires
{
    flex-direction: column;
    flex-wrap: wrap;
}

.Lien_populaires, .Etablissement_populaire
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(155, 154, 154);
    justify-content: flex-start;
    height: 144px;
    width: 343px;
}

.Lien_populaires
{
    margin: 16.5px 16.5px 16.5px 37px;
}

.Image_hebergements_populaire
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 127px;
    height: 134px;
    margin: 5px 0px 5px 5px;
    object-fit: cover;
}

/*Activités*/

#Activites, #Images_activites, #Fort_et_iles, #Notre_dame_et_parc
{
    display: flex;
}

#Activites, #Fort_et_iles, #Notre_dame_et_parc
{
    flex-direction: column;
    justify-content: space-between;
}

.Image_activites_grand, #Image_fort, #Image_ile, #Image_dame, #Image_parc
{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Activites_grand, #Fort_de_pomegues, #Îles_du_frioul, #Notre_dame, #Parc_longchamp
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(155, 154, 154);
    padding-bottom: 12px;
}

#Activites
{
    margin-left: 1em;
}

#Images_activites
{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 28px;
}

.Activites_grand
{
    height: 446px;
    width: 305px;
}

.Image_activites_grand
{
    width: 305px;
    height: 389px;
}

#Fort_de_pomegues
{
    height: 237px;
    width: 305px;
}

#Image_fort
{
    width: 305px;
    height: 180px;
}

#Îles_du_frioul
{
    height: 164px;
    width: 305px;
}

#Image_ile
{
    width: 305px;
    height: 110px;
}

#Notre_dame
{
    height: 194px;
    width: 305px;
}

#Image_dame
{
    width: 305px;
    height: 140px;
}

#Parc_longchamp
{
    height: 210px;
    width: 305px;
}

#Image_parc
{
    width: 305px;
    height: 154px;
}

.Lien_activites
{
    border-radius: 15px;
}

/*Footer*/

footer, #Bas_de_page
{
    display: flex;
    flex-wrap: wrap;
}

footer
{
    background-color: #F2F2F2;
    margin-top: 60px;
}

.Bas
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-right: 177px;
    padding-left: 51px;
}

#A_propos
{
    height: 110px;
}

#Nos_hebergements
{
    height: 80px;
}

#Assistance
{
    height: 80px;
}

.Nom_bas
{
    font-size: 1.1em;
}


/*Media Queries*/

@media screen and (max-width: 550px)
{

    #Logements_populaires, .Etablissement_populaire, #Logements, .Etablissement, #Bas_de_page, nav, #Navigation, #Barre, #Hebergements_et_populaire, #Populaires, #Hebergement, #Activites, #Fort_et_iles, #Notre_dame_et_parc, #Images_activites, #Vieux_port, #Fort_de_pomegues, #Îles_du_frioul, #Parc_national, #Notre_dame, #Parc_longchamp, #Image_port, #Image_fort, #Image_ile, #Image_parc_national, #Image_dame, #Image_parc
    {
        width: 100%;
    }

    #Hebergements_et_populaire, #Populaires, .Lien_populaires, .Image_hebergements_populaire, .Lien_logements
    {
        height: auto;
    }

    /*Haut*/

    #Logo, #Titre_et_sous_titre
    {
        margin-left: 1em;
    }

    #Nav_sinscrire
    {
        margin-right: 1em;
    }


    #Bloc_haut
    {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Element:nth-child(1)
    {
        order: 1;
    }
    
    .Element:nth-child(2)
    {
        order: 3;
    }

    .Element:nth-child(3)
    {
        order: 2;
    }

    nav
    {
        margin-top: 20px;
    }

    #Navigation
    {
        padding: 0;
    }

    .Navigation
    {
        padding: 0 0 10px 0 ;
        text-align: center;
        margin: 0;
        border-bottom: 2px #F2F2F2 solid;
        width: 50%;
        
    }

    .Navigation:hover
    {
        color: #0065FC;
        border-top: 0px;
        border-bottom: 2px #0065FC solid;
    }

    /*Recherche*/

    #Recherche
    {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 30px;
    }

    #Form
    {
        width: 80%;
    }

    #Barre
    {
        min-width: 180px;
    }

    #Bouton_bloc1
    {
        display: none;
    }

    #Bouton_bloc2
    {
        display: initial;
        margin-left: -10px;
    }

    /*Filtres*/

    #Cases_filtres
    {
        margin-left: -1.2em;
    }

    /*Populaire*/

    #Populaires
    {
        margin: 0;
        border-radius: 0%;
    }

    #Titre_populaire
    {
        margin-top: 1.5em;
        width: 85%;
        justify-content: space-around;
        align-self: center;
    }

    .Lien_populaires
    {
        width: 85%;
    }

    .Image_hebergements_populaire
    {
        width: 35%;
    }

    #Logements_populaires
    {
        margin-left: 0.4em;
    }

    /*Hébergements*/

    #Hebergement
    {
        background-color: rgb(255, 255, 255);
        border-radius: 0%;
        margin-left: 0;
        margin-top: 2em;
    }

    .Lien_logements
    {
        width: 85%;
        margin-bottom: 0.5em;
    }

    /*Activités*/

    #Activites
    {
        margin-left: 0;
    }

    #Fort_et_iles, #Notre_dame_et_parc, #Images_activites
    {
        justify-content: center;
    }

    #Fort_et_iles, #Notre_dame_et_parc
    {
        align-items: center;
    }

    .Lien_activites
    {
        width: 85%;
        max-height: 190px;
        margin-bottom: 2em;
    }

    #Vieux_port, #Fort_de_pomegues, #Îles_du_frioul, #Parc_national, #Notre_dame, #Parc_longchamp
    {
        height: 100%;
    }
    
    #Image_port, #Image_fort, #Image_ile, #Image_parc_national, #Image_dame, #Image_parc
    {
        height: 75%;
    }

    #Titre_activites
    {
        margin-left: 1.5em;
    }

}


@media screen and (max-width: 768px) and (min-width: 551px)
{
    #Hebergements_et_populaire
    {
        width: 100%;
    }

    #Hebergement
    {
        margin: 0 0 2em 0;
        padding : 1.5em 0 1.5em 0;
        border-radius: 0;
        background-color: white;
    }

    #Logements
    {
        justify-content: space-around;
    }

    .Lien_logements
    {
        width: 40%;
    }

    .Etablissement
    {
        width: 100%;
        height: 100%;

    }

    .Image_hebergements
    {
        height: 58%;
    }

    #Populaires
    {
        width: 100%;
        min-height: 900px;
        margin: 0;
        border-radius: 0;
    }

    #Titre_populaire
    {
        width: 60%;
        font-size: 1.2em;
        align-self: center;
        margin-left: 1em;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    #Logements_populaires
    {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2em;
    }

    .Lien_populaires
    {
        transform: scale(1.30);
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .Etablissement_populaire
    {
        width: 100%;
        height: 100%;
    }

    #Images_activites
    {
        justify-content: space-around;
    }

    #Parc_national, #Notre_dame
    {
        margin-top: 3em;
    }

    .Grand, #Fort_et_iles, #Notre_dame_et_parc
    {
        width: 48%;
    }

    .Activites_grand, .Petit, #Fort_de_pomegues, #Îles_du_frioul, #Notre_dame, #Parc_longchamp, #Image_port, #Image_fort, #Image_ile, #Image_parc_national, #Image_dame, #Image_parc
    {
        width: 100%;
    }


}

@media screen and (max-width: 1340px) and (min-width: 769px)
{

    #Populaires
    {
        width: 95%;
        height: auto;
        margin: auto;
    }

    #Titre_populaire, .Fleche
    {
        justify-content: flex-start;
        margin-left: 2em;
        margin-bottom: 0.5em;
    }

    #Logements_populaires
    {
        flex-direction: row;
        margin-right: 1em;
        justify-content: space-around;
        margin-bottom: 1.5em;
    }

    #Hebergement
    {
        width: 95%;
        height: auto;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    #Titre_activites
    {
        margin-left: 1em;
    }

    #Images_activites
    {
        justify-content: space-around;
    }

    #Parc_national, #Notre_dame
    {
        margin-top: 3em;
    }

    .Grand, #Fort_et_iles, #Notre_dame_et_parc
    {
        width: 48%;
    }

    .Activites_grand, .Petit, #Fort_de_pomegues, #Îles_du_frioul, #Notre_dame, #Parc_longchamp, #Image_port, #Image_fort, #Image_ile, #Image_parc_national, #Image_dame, #Image_parc
    {
        max-width: 1200px;
        width: 100%;
    }


    
}